//variables
//color
$green: #07df8c;
$darkGreen: #07a86a;
$lightGreen: #84f7c6;

//mixins
//placeholder text
@mixin placeholder {
    font: {
        family: $lato;
        weight: 100;
        size: 25px;
    }
    letter-spacing: 2px;
}

//fonts
$lato: 'Lato', arial, sans-serif;
$amatic: 'Amatic SC', cursive, times;

//ion- elements hav white background by default

body {
    background-color: $green;
    font: {
        size: 16px;
    }
}
p,a,h1,h2,h3,h4,h5,h6 {font-family: $lato;}
.pane {
    background-color: transparent;
}
.modal {
    background-color: $green;
}
.content {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
    overflow: hidden;
}

////////////////////////////////////
//ALL PAGES
////////////////////////////////////
.headerBar {
    background-color: $darkGreen;
    background-image: none;
    .navButton {
        width: 25%;
    }
    .date {
        width: 50%;
        color: $lightGreen;
        text-align: center;
        margin: {
            top: 7px;
        }
        font: {
            family: $lato;
            size: 2em;
            weight: 300;
        }
    }
    .logo {
        width: 25%;
        text-align: right;
        img {
            width: 60%;
        }
    }
}
.mainNav {
    display: block;
    margin-top: 44px;
    .navItem {
        background-color: $darkGreen;
        border: none;
        a {
            width: 100%;
            display: block;
            border-radius: 30px;
            background-color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            color: $green;
            text-align: center;
            box-shadow: 0px 2px 0px 0px $green;
            padding: {
                top: 10px;
                bottom: 10px
            }
            font: {
                family: $lato;
                size: 1.8em;
                weight: 300;
            }
        }
    }
}

////////////////////////////////////
//AVATAR PAGE
////////////////////////////////////
.aviModal {
    background-color: $darkGreen;
    .content {
        background-color: transparent;
    }
}
.speechBubble {
    background-color: #fff;
    padding: {
        top:20px;
        bottom: 80px;
        left: 20px;
        right: 20px;
    }
    // border-radius: 25px;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 81% 80%, 49% 100%, 60% 80%, 0% 80%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 81% 80%, 49% 100%, 60% 80%, 0% 80%);
    p {
        color: $darkGreen;
        line-height: 1.2em;
        font: {
            family: $lato;
            weight: 300;
            size: 1.6em;
        }
    }
}
////////////////////////////////////
//LOGIN PAGE
////////////////////////////////////
.loginLink {
    margin: 35px 0;
    p, a {
        text-transform: capitalize;
        color: #fff;
        line-height: 40px;
        font: {
            size: 30px;
        }
    }
}
/////////////
//FORM, INPUT, BUTTONS
/////////////
::-webkit-input-placeholder {@include placeholder}
::-moz-placeholder {@include placeholder}
:-ms-input-placeholder {@include placeholder}
:-moz-placeholder {@include placeholder}
input[type="text"],input[type="submit"],input[type="password"], select, label, button {
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    padding: 5px 0;
    height: auto;
    border-radius: 30px;
    margin:{
        bottom: 25px;
    }
    font: {
        size: 25px;
    }
}
.photoUpload {
    display: block;
    color: $darkGreen;
    border: 3px dashed $darkGreen;
    transition: 0.5s ease;
    margin: {
        left: auto;
        right: auto;
    }
    &:hover {
        background-color: $lightGreen;
    }
    input {
        display: none;
    }
}
input[type="text"],input[type="password"], select {
    border: 2px solid $darkGreen;
}
input[type="submit"], button {
    background-color: $lightGreen;
    border: none;
    box-shadow: 0px 4px 0px 0px $darkGreen;
    transition: all 0.2s ease;
    @include placeholder;
    &:active {
        box-shadow: 0px 2px 0px 0px $darkGreen;
    }
}

////////////////////////////////////
//HOME PAGE
////////////////////////////////////
.incomeInfo {
    .balanceMath {
        width: 50%;
        float: left;
        opacity: 0.5;
        margin-bottom: 20px;
        // background-color: #f00;
        h2 {
            font: {
                size: 1em;
                weight: 300;
            }
        }
        p {
            font: {
                size: 1.5em;
            }
        }
    }
    #income {text-align: left;}
    #spent {text-align: right;}
    .balance {
        clear: left;
        width: 80%;
        margin: 0 auto 20px auto;
        h2 {
            font: {
                size: 4.9em;
                weight: 300;
            }
        }
    }
}
.expenseInfo {
    overflow: hidden;
    // border: 2px solid $darkGreen;
    width: 100%;
    border-radius: 30px;
    margin:{
        bottom: 25px;
    }
    background-color: #fff;
    h1 {
        text-transform: uppercase;
        padding: 15px 0 15px 20px;
        margin-bottom: 0;
        color: $darkGreen;
        float: left;
        font: {
            weight: 300;
            size: 1em;
        }
    }
    .progressBar {
        float: right;
        width: 55%;
        height: 15px;
        border-radius: 15px;
        background-color: #e05555;
        margin: 17px 20px 0 0;
        .progressBarFill {
            height: 15px;
            border-radius: 15px;
            background-color: #d50000;
            box-shadow: 0 0 0 3px #fff;
        }
    }
    .purchaseList {
        clear: both;
        li {
            padding: 15px 0;
            background-color: $darkGreen;
            overflow:hidden;
            border: {
                top: 1px solid $green;
                bottom: 1px solid $green;
            }
            p {
                display: inline;
                text-transform: capitalize;
                color: #fff;
                font: {
                    size: 1.2em;
                    weight: 300;
                }
                &:nth-child(1) {
                    float: left;
                    margin-left: 20px;
                }
                &:nth-child(2) {
                    float: right;
                    margin-right: 20px;
                }
            }
        }
    }
}

////////////////////////////////////
//PROFILE PAGE
////////////////////////////////////
.profileImage {
    width: 170px;
    height: 170px;
    background-color: $lightGreen;
    text-align: center;
    padding: 10%;
    border-radius: 100%;
    border: 2px solid $darkGreen;
    margin: {
        left: auto;
        right: auto;
    }
    img {
        width: 100%;
    }
}
.userName {
    margin: {
        top: 20px;
        // bottom: 20px;
    }
    h2 {
        text-align: center;
        width: 100%;
        text-transform: capitalize;
        font: {
            family: $lato;
            weight: 300;
        }
    }
}
.details {
    table {
        overflow: hidden;
        border-radius: 20px;
        background-color: #fff;
        width: 100%;
        margin: {
            top: 20px;
            bottom: 20px;
        }
        tr {
            overflow: hidden;
            padding: 10px;
            // background-color: $darkGreen;
            width: 100%;
            display: block;
            border-bottom: 2px solid $green;
            &:last-child {
                border-bottom: none;
            }
        }
        td {
            width: 50%;
            display: block;
            float: left;
        }
        .rowHeading {
            background-color: $darkGreen;
            border-bottom: none;
        }
    }
}
