<ion-view>
  <ion-content>
    <div class="content">
      <h2 class="listHeading">Achievements</h2>
      <div class="achievementList">
        <div ng-repeat="achievement in achieveDetails.user_achievements" class="achievement">
          <img ng-src="img/achievements/{{achievement.ach_image}}" alt="{{achievement.ach_name}}" ng-click="showMessage = !showMessage">
          <div class="achDetails" ng-show="showMessage">
            <h3>{{achievement.ach_name}}</h3>
            <p>{{achievement.ach_message}}</p>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
