<ion-view>
  <ion-content>
    <div class="content">
      <div class="mainLogo">
        <img src="img/logo.svg" alt="Guilty Spender Logo">
      </div>
      <div class="loginLink">
        <p>login or create your <a href="#/register">account here</a></p>
      </div>
      <form action="http://localhost:3000/users/api/login" method="post">
        <input type="text" name="username" placeholder="username"></input>
        <input type="password" name="password" placeholder="Password"></input>
        <input type="submit" value="login">
      </form>
    </div>
  </ion-content>
</ion-view>
