<ion-modal-view>
  <ion-view>
    <ion-content>
      <div class="content">
        <button ng-click="modal.hide()">Back</button>
        <form class="newPurchase" action="http://localhost:3000/purchases/api/newpurchase" method="post">
          <input type="text" name="name" value="" placeholder="Name">
          <select name="expense">
            <option ng-repeat="expense in userDetails.user_expenses" value="{{expense._id}}">{{expense.expense_name}}</option>
          </select>
          <input type="text" name="price" value="" placeholder="price">
          <label class="photoUpload" for="photoUpload">upload a photo
            <input type="file" name="photo" id="photoUpload" value="" placeholder="photo">
          </label>
          <!-- the following buttons will be for one click purchases -->
          <button type="button" name="button">Coffee</button>
          <button type="button" name="button">rent</button>
          <button type="button" name="button">gas</button>
          <button type="button" name="button">breakfast</button>

          <input type="submit" name="save" value="Save">
        </div>
      </form>
    </ion-content>
  </ion-view>
</ion-modal-view>
