<ion-view>
  <ion-content>
    <div class="content">
      <div class="profileImage">
        <img ng-src="img/{{profileDetails.user_image}}" alt="">
      </div>
      <div class="userName">
        <h2>{{profileDetails.username}}</h2>
      </div>

      <div class="details">
        <table>
          <tr class="rowHeading" ng-click="showIncome = !showIncome">
            <th>Income</th>
          </tr>
            <tr ng-repeat="income in profileDetails.user_income" ng-show="!showIncome">
            <td>${{income.income_total}}</td>
            <td>{{income.income_frequency}} times a month</td>
          </tr>
          <tr class="rowHeading" ng-click="showRemain = !showRemain">
            <th>Money Left</th>
          </tr>
          <tr ng-show="!showRemain">
            <td>${{estimatedRemain}}</td>
          </tr>
          <tr class="rowHeading" ng-click="showExpense = !showExpense">
            <th>Expense</th>
          </tr>
          <tr ng-repeat="expense in profileDetails.user_expenses" ng-show="!showExpense">
            <td>{{expense.expense_name}}</td>
            <td>${{expense.expense_price}}</td>
          </tr>
        </table>
      </div>
      <button type="button" name="button" ng-click="modal.show()">Edit Info</button>
    </div>
  </ion-content>
</ion-view>
