<ion-view>
  <ion-content>
    <div class="content">
      <h2 class="listHeading">Purchases</h2>
      <select class="" name="date" ng-model="date.purchase_month">
        <option value="1">January</option>
        <option value="2">February</option>
        <option value="3">March</option>
        <option value="4">April</option>
        <option value="5">May</option>
        <option value="6">June</option>
        <option value="7">July</option>
        <option value="8">August</option>
        <option value="9">September</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12">December</option>
      </select>
      <section class="details">
        <div class="table">
          <div class=" tableRow rowHeading">
            <div class="td3col">
              <p>Name</p>
            </div>
            <div class="td3col">
              <p>Price</p>
            </div>
            <div class="td3col">
              <p>Date</p>
            </div>
          </div>

          <div class="tableRow" ng-repeat="purchase in purchases | filter:date">
            <div class="td3col">
              <p>{{purchase.purchase_name}}</p>
            </div>
            <div class="td3col">
              <p>${{purchase.purchase_price}}</p>
            </div>
            <div class="td3col">
              <p>{{purchase.purchase_month}}/{{purchase.purchase_year}}</p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </ion-content>
</ion-view>
